$colorblack : #000;
$container : 1337px;
$containerxl : 1548px;
$containerxs : 955px;
$color-bg : #0B62A3;
$color-text : #fff;
$activated : #41BDC7;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.d-block {display: block;}

strong {
  font-weight: 700
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: $color-text;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.mb-1 {
  margin-bottom: 1em;
}

.app:not(.isResultPage) {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-color: $color-bg;
  background-size: cover;
}

.container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;
}

.container-xl {
  max-width: $containerxl;
  padding: 0 15px;
  margin: 0 auto
}

.container-xs {
  max-width: $containerxs;
  padding: 0 15px;
  margin: 0 auto
}

header {
  padding: 20px 0 2.5vw 0
}

@mixin selectRadioButtons {
  background-color: $activated;
  border-color: $activated
}

.app:not(.isResultPage) {
main {
  padding-bottom: 20px;
  flex: 1;

  &::before {
    content: "";
    background: url("../images/leaf.png") no-repeat right top;
    position: absolute;
    right: 0;
    top: -135px;
    width: 670px;
    height: 300px;
  }
}
}



.form-control {
  height: 60px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background: transparent;
  display: block;
  width: 100%;
  outline: none;
  padding: 0 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

h2 {
  font-size: 3em;
  margin-right: 100px;
  line-height: 1.1;

  &.line {
    border-bottom: 1px solid $activated;
    padding-bottom: 20px;
    margin-bottom: 30px;

    &::before {
      content: "";
      width: 116px;
      height: 5px;
      background-color: $activated;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}



.form {
  display: grid;
  grid-gap: 30px;
  padding-bottom: 70px;

  &.gap-sm {
    grid-gap: 13px 30px;
  }

  &.col2 {
    grid-template-columns: 486px 486px;
  }

  &.col1 {
    grid-template-columns: 1fr;

    .item {
      grid-column: 1/span 1;
    }
  }

  .item {
    max-width: 486px;
  }

  label:not(.form-control) {
    font-weight: 700;
    padding-left: 40px;
    display: block;
    padding-bottom: 5px;
  }

  input[type='radio'] {
    opacity: 0;
    position: absolute;
    z-index: -1;

    +label {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 1em;
      font-weight: 500;
    }

    &:hover+label {
      @include selectRadioButtons
    }

    &:checked+label {
      @include selectRadioButtons;
      background-image: url("../images/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: right 25px center;
      font-weight: 700;
    }
  }
}

select {
  &.form-control {
    background: url("../images/selectarrow.svg") no-repeat right 30px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    cursor: pointer;
  }

  option {
    color: $colorblack
  }
}

.btn {
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 14px;
  color: #45475A;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &:hover {
    opacity: .8;
  }

  &.btn-red {
    background-color: #cc3645;
    color: #fff
  }

  &.btn-blue {
    background-color: #006aa8;
    color: #fff
  }

  &.btn-sm {
    height: 40px;
    display: inline-flex;
    min-width: 180px;
    font-size: 12px;
    margin-top: 10px;
  }

  &.m-auto {
    max-width: 322px;
    margin: 0 auto;
  }
}

.select-custom {
  padding: 0 !important;

  .items {
    display: none;
    background-color: $activated;
    margin: 0;
    width: 100%;
    left: 0;
    min-height: 130px;
    max-height: 280px;
    overflow: auto;
    border-radius: 0 0 31px 31px;
    z-index: 12;
    padding: 0;

    li {
      list-style: none;
      cursor: pointer;
      padding: 7px 40px 7px 40px;

      &:hover {
        background: url("../images/icon-tick.svg") no-repeat right 20px center #35A6AF;
      }
    }
  }

  .selected {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-radius: 30px;
    cursor: pointer;
    z-index: 11;
  }

  &.active {
    border-color: transparent;

    .items {
      display: block;
    }

    .selected {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: $activated;
    }
  }



  &.select-custom .items {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-bg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-center {
  text-align: center;
}

@media screen and (max-width:1400px) {
  main::before {
    transform: scale(.3) !important;
    right: -148px !important;
    width: 428px !important;
    top: -143px !important;
    height: 225px !important;
  }
}

@media screen and (max-width:1024px) {
  main {
    padding-top: 20px;
  }

  h2 {
    margin-right: 0;
    font-size: 20px;

    &.line {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  body {
    font-size: 12px;
  }

  .form {
    display: block;

    .item {
      max-width: 100%;

      &+.item {
        margin-top: 15px;
      }
    }
  }

  .logo {
    max-width: 120px;
  }

  .form-control,
  .btn {
    height: 45px;
  }

  .statistics {
    .num {
      font-size: 3em !important;
    }
  }
}

.title-line {
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-top: 70px;
  margin-bottom: 70px;

  span {
    background: #094a84;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px;
    font-size: 1.4em;
    font-weight: 500;
  }

}